@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');
@import "tailwindcss";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.app {
  background-color: #fefae0;
}

.evolve-before::before {
  content: url('./assets/EvolveText.png');
}

.abstractwaves-before::before {
  content: url('./assets/AbstractWaves.png');
}

.sparkles-before::before {
  content: url('./assets/Sparkles.png');
}